body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #0f0814, #3e256d);
    color: white;
    
}
@font-face {
    font-family:'Inter-Italic-VariableFont opsz';
    src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

  
.card img{
    height: 250px;
}
.enlace {
    color: white;
    font-size: 20px;
    text-decoration: none;
    background: linear-gradient(90deg, #0f0814, #3e256d);
    padding: 10px;
    border-radius: 5px;
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
}

.enlace:hover {
    background: linear-gradient(90deg, #0f0814, #8e44ad);
    transform: scale(1.1); 
    
}
